extends base


block content 
    if errorMessage
        h3=errorMessage
    form(method="post")
        input(name="username", type="text", required, placeholder="username")
        input(name="password", type="password", required, placeholder="password")
        input(type="submit", value="Login")
        br
        a(href="/users/github/start") Continue With GitHub
    hr
    div 
        span Don't have an account? 
        a(href="/join") Create now &rarr;

